body{margin:0px; padding:0px; height:80vh;margin: 0px auto;padding: 70px 30px;background: linear-gradient(-45deg, #ee7752, red, black, #23d5ab);background-size: 400% 400%;animation: gradient 8s ease infinite;}
@keyframes gradient {0% {background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
form{height:100%;}
#login{display:grid; place-content: center; height:100%;}
#login_help{display:grid; place-content: center; margin-bottom:20px;}
.username::placeholder{color:white; font-family: 'Gugi', cursive; }
.password::placeholder{color:white; font-family: 'Gugi', cursive; }
.username , .password{margin-bottom:10px; width:800px; height:50px; background-color:transparent; text-align:center; border-top-style:none; border-left-style:none; border-right-style:none; border-bottom-color:white; color:white;} 
.username{margin-bottom:30px;}
#help{display:flex; justify-content: space-between; align-items: center;}
#help>a>p{color:white; opacity:90%;}
#help>a{text-decoration:underline; color:white;}
a>.submit{height:4vh; width:10vh; border-radius: 10px 10px 10px 10px; border:none; background-color:transparent; color:white; border:1.5px solid white;}
a>.submit:hover{background-color:wheat; transition: 0.5ms; color:black;}
#login > a > h1{font-family: 'Gugi', cursive; color:white; text-align: center; font-size:10vh;}
#login>a{text-decoration: none;}
.username:focus::placeholder , .password:focus::placeholder{color:transparent;}
@media(max-width:800px){a{width:auto;} #login > a > h1{font-size:7vh;} form{width:auto;} #login{width:100%;}.username , .password {width:340px;} #help > a > p{font-size:2vh;} a > .submit{height:5vh; width:10vh;}}
@media(max-width:280px){a{width:auto;} #login > a > h1{font-size:7vh;} form{width:auto;} #login{width:100%;}.username , .password {width:250px;} #help > a > p{font-size:2vh;} a > .submit{height:5vh; width:10vh;}}
@media(max-height:500px){body{height:60vh;} a{width:auto;} #login > a > h1{font-size:17vh;} form{width:auto;} #login{width:100%;} .username , .password {width:100vh; height:200px;} #help > a > p{font-size:3vh;} a > .submit{height:10vh; width:13vh;}}
