body{margin:0px; padding:0px; height:80vh;margin: 0px auto; padding: 70px 30px;background: linear-gradient(-45deg, red, green, black, #23d5ab);background-size: 400% 400%;animation: gradient 8s ease infinite;}
@keyframes gradient {0% {background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
#main{width:100%; height:100%; display:grid; place-content: center;}
h1{color:white; font-family: 'Gugi', cursive; text-align: center; font-size:6vh; text-align: center;}
#main_setup{display:grid; place-content:center;}
div > input{background-color:transparent; color:White; text-align:center; font-family: 'Gugi', cursive; border:2px solid white; border-radius: 10px 10px 10px 10px; width:50vh; height:4vh; margin-bottom:20px;}
div >input::placeholder{color:white; text-align: center;}
.user_password{font-family: 'Gugi', cursive; height:4vh;}
.p_style{padding-left:20px; color:white; font-size:12px;font-family: 'Gugi', cursive;}
form{align-items: center; text-align:center;}
.submit{cursor: pointer; margin-top:5px;}
.user_id_ok{background-color: transparent; color:white; height:5vh; border-radius: 10px 10px 10px 10px; border-color:white;}
@media(max-width:420px){body{margin:0px; padding:0px; height:100vh;} div>input{width:250px;} .user_password{height:4vh;} .p_style{font-size:9px;}}
@media(max-height:300px){body{height:100%;} #main{height:50vh;}}
